@import "../../styles/theme.scss";
.aside {
  background-color: $bg_secondary;
  .status,
  .medals,
  .details,
  .groups,
  .friends {
    margin-bottom: 20px;
  }
  .status {
    color: $active_link;
  }
  a {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
    span {
      font-family: $body_font;
      font-size: 32px;
      font-weight: 300;
    }
    &:hover {
      text-decoration: underline;
      color: $active_link;
    }
  }
  .img-game {
    width: 60px;
    height: 60px;
  }

  .friend {
    font-size: 13px;
    margin-bottom: 13px;

    figure {
      margin: 0;
      width: 60px;
      height: 60px;
      flex-shrink: 0;
    }

    .datas {
      margin-left: 10px;
      p {
        margin: 0;
        line-height: 1.1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
