@import "../../styles/variables.scss";

.aside {
  background-color: $bg_secondary;
  .status,
  .medaglie,
  .dettagli,
  .gruppi,
  .amici {
    margin-bottom: 20px;
  }

  .amici {
    .amico {
      display: flex;
      align-items: center;
      height: 100px; /* Altezza totale dell'elemento amico */
      font-size: 12px; /* Dimensione del testo più piccola */

      figure {
        margin: 0;
        width: 60px;
        height: 60px;
        flex-shrink: 0; /* Impedisce all'immagine di ridimensionarsi */
      }

      .imggame {
        width: 60px;
        height: 60px;
      }

      .datas {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%; /* Assicura che .datas riempia l'altezza del genitore */

        p {
          margin: 0;
          line-height: 1.1; /* Altezza della linea ridotta per comprimere il testo */
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
.imggame {
  width: 60px;
  height: 60px;
}
