//Colors

$primary_color: #00183c;
$button_bg: #026782;
$active_link: #60e3e3;
$bg_main: #003859;
$bg_secondary: #001520d0;
$variamo: #001520;
$bg_barre: linear-gradient($active_link 20%, $variamo 63%);
// Fonts

$head_font: "Montserrat", sans-serif;
$body_font: "Source Sans 3", sans-serif;
