@import "../../styles/theme.scss";
.comments {
  background-color: rgba($color: $bg_secondary, $alpha: 0.4);
  section.title {
    background-color: $variamo;
    a {
      color: white;
    }
  }
  .input {
    background-color: $bg_secondary;
  }

  .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
  }
  .btn-pagination {
    background-color: $button_bg;
    border: none;
    align-items: center;
    display: flex;
  }
}
