@import "bootstrap/scss/bootstrap";
@import "./styles/theme.scss";

* {
  color: white;
}
a {
  text-decoration: none;
}
body {
  background-color: #006581;
}
.container {
  background-color: $bg_main;
}
.btn-main {
  background-color: black;
  color: white;
  border: transparent;
  border-radius: 8px;
}
button {
  font-family: $head_font;
  &:hover {
    box-shadow: 0 4px 8px $active_link;
    background-color: $button_bg;
  }
}
